@mixin mq-small {
  @media (max-width: em($bp-small)) {
    @content;
  }
}

@mixin mq-medium {
  @media (min-width: em($bp-small + 1)) {
    @content;
  }
}

@mixin mq-large {
  @media (min-width: em($bp-medium + 1)) {
    @content;
  }
}

@mixin mq-wide {
  @media (min-width: em($bp-large)) {
    @content;
  }
}


@mixin section-padding {
  padding: 2em 0 3em;

  @include mq-medium {
    padding: 3em 0 4em;
  }
}

@mixin section-border {
  .section__inner {
    border-bottom: 2px solid $color-primary;
  }
}