input:focus, textarea:focus, button:focus {
  outline: none;
}

.input--text {
  background: $color-secondary;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  box-sizing: border-box;
  color: #000000;
  font-size: .8em;
  padding: .65em;
  margin: .35em 0;
  width: 100%;

  &:focus {
    box-shadow: 0 0 4px #b3b3b3;
  }

  &:disabled {
    background: #d0d0d0;
    color: #505050;
  }
}
