.section--home.section {
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, .85) 100%),
    url('img/home-background.jpg');
  background-size: cover;
  color: $color-secondary;

  .logo {
    display: block;
    margin: 0 auto;
    padding: 2em 0;
  }

  .lead {
    @include typi('home-lead');
    @include mq-medium {
      padding: 0 2em;
    }

    color: $color-secondary;
    font-family: $font-secondary;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin: 0;

    &--accent {
      color: $color-primary;
      text-transform: none;
      margin: 0 0 .65em;
    }
  }

  .cta {
    @include typi('home-cta');

    &__list {
      list-style: none;
      line-height: 2.3em;
      padding: 0 0 0 1.5em;

      li {
        @include typi('home-cta-list');
        position: relative;
        padding-left: .4em;
        margin: 1.25em 0 0;

        &::before {
          content: '';
          display: block;
          border-radius: 100%;
          border: 3px solid $color-primary;
          position: absolute;
          top: -.15em;
          left: -1.8em;
          width: 1.2em;
          height: 1.2em;
        }
      }
    }
  }

  .cta__form {
    &__header {
      background: $color-primary;
      border-radius: 2em 2em 0 0;
      text-align: center;
      padding: .75em 0 .25em;

      &__lead, &__start {
        margin: 0;
        line-height: 1.1em;
        padding: .35em 0;
      }

      &__start {
        font-size: .9em;
      }
    }

    &__content {
      background: $color-secondary;
      border-radius: 0 0 2em 2em;
      padding: 1.5em 2em 2.5em;
    }
  }
}
