.section {
  width: 100%;
  margin: 0;

  &__inner {
    width: 95%;
    max-width: 960px;
    margin: 0 auto;
  }
}

@import 'layouts-home';
@import 'layouts-understand';
@import 'layouts-requirements';
@import 'layouts-founders';
@import 'layouts-enroll';
@import 'layouts-footer';