.section--founders {
  .founder {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 700px;
    margin: 2.5em auto;

    &__photo,
    &__photo__img {
      box-sizing: border-box;
    }

    &__accent {
      color: $color-primary;
    }
  }

  @include section-padding;
}

@include mq_small {
  .section--founders .founder {
    &__photo,
    &__photo__img {
      width: 160px;
    }

    &__photo__img {
      display: block;
      margin: 0 auto;
    }
  }
}

@include mq_medium {
  .section--founders .founder {
    flex-direction: row;

    &__photo,
    &__photo__img {
      width: 170px;
      min-width: 170px;
      max-width: 170px;
    }

    &__introduction {
      padding-left: 2.5em;
      flex-shrink: 2;
    }
  }
}