<section id="founders" class="section section--enroll">
  <div class="section__inner enroll">
    <div id="countdown" class="enroll__counter"></div>
    <div class="enroll__info">
      <p class="enroll__lead">Możesz już zapisać się na kurs, który rozpoczniemy pod koniec pierwszego kwartału przyszłego roku</p>
      <p class="enroll__before">Wcześniej wyślemy ci jeszcze wstępne szkolenia</p>
      <p class="enroll__start">startujemy 24 marca 2018 r.</p>
      <button id="goUpBtn" class="button button--black">Zapisz się dziś</button>
    </div>
  </div>
</section>