<section id="founders" class="section section--founders">
  <div class="section__inner">
    <div class="founder">
      <div class="founder__photo">
        <img class="founder__photo__img" src="img/jakub-bialek.jpg" alt="Jakub Białek">
      </div>
      <div class="founder__introduction">
        <p class="founder__title">Twórca programu i mentor</p>
        <p class="founder__description"><span class="founder__accent">Jakub Białek</span> - java senior developer z&nbsp;wieloletnim doświadczeniem. Jest odpowiedzialny za&nbsp;stworzenie programu edukacyjnego koderzy.com</p>
      </div>
    </div>
    <div class="founder">
      <div class="founder__photo">
        <img class="founder__photo__img" src="img/marcin-kosinski.jpg" alt="Marcin Kosiński">
      </div>
      <div class="founder__introduction">
        <p class="founder__title">Founder i Project Manager</p>
        <p class="founder__description"><span class="founder__accent">Marcin Hugo Kosiński</span> - project manager i&nbsp;kierownik wielu serwisów internetowych. Wieloletni pracownik portalu Interia.pl. Odpowiada za&nbsp;organizację i&nbsp;marketing.</p>
      </div>
    </div>
  </div>
</section>