<section id="requirements" class="section section--requirements">
  <div class="section__inner">
    <div class="founder">
      <div class="founder__photo">
        <img src="img/jakub-bialek.png" alt="Jakub Białek">
      </div>
      <div class="founder__introduction">
        <p class="founder__title">Twórca programu i mentor</p>
        <p class="founder__description"><span class="founder__accent">Jakub Białek</span> - java senior developer z wieloletnim doświadczeniem. Jest odpowiedzialny za stworzenie programu edukacyjnego koderzy.com</p>
      </div>
    </div>
    <div class="founder">
      <div class="founder__photo">
        <img src="img/marcin-kosinski.png" alt="Marcin Kosiński">
      </div>
      <div class="founder__introduction">
        <p class="founder__title">Founder i Project Manager</p>
        <p class="founder__description"><span class="founder__accent">Marcin Hugo Kosiński</span> - project manager i kierownik wielu serwisów internetowych. Wieloletni pracownik portalu Interia.pl. Odpowiada za organizację i marketing.</p>
      </div>
    </div>
  </div>
</section>