<section id="founders" class="section section--founders">
  <div class="section__inner">
    <div class="founder">
      <div class="founder__photo">
        <img class="founder__photo__img" src="img/marcin-kosinski.jpg" alt="Marcin Kosiński">
      </div>
      <div class="founder__introduction">
        <p class="founder__title">Founder i Project Manager</p>
        <p class="founder__description"><span class="founder__accent">Marcin Hugo Kosiński</span> - project manager i&nbsp;kierownik wielu serwisów internetowych. Wieloletni pracownik portalu Interia.pl. Odpowiada za&nbsp;organizację i&nbsp;marketing.</p>
      </div>
    </div>
    <div class="founder">
      <div class="founder__photo">
        <img class="founder__photo__img" src="img/patryk-bernasiewicz.jpg" alt="Patryk Bernasiewicz">
      </div>
      <div class="founder__introduction">
        <p class="founder__title">Twórca platformy</p>
        <p class="founder__description"><span class="founder__accent">Patryk Bernasiewicz</span> - JavaScript Developer, opdowiedzialny za stworzenie platformy e-learningowej dla Koderzy.com</p>
      </div>
    </div>
    <div class="founder">
      <div class="founder__photo">
        <img class="founder__photo__img" src="img/jakub-bialek.jpg" alt="Jakub Białek">
      </div>
      <div class="founder__introduction">
        <p class="founder__title">Twórca programu i mentor</p>
        <p class="founder__description"><span class="founder__accent">Jakub Białek</span> - Java Senior Developer z&nbsp;wieloletnim doświadczeniem. Jest odpowiedzialny za&nbsp;stworzenie programu edukacyjnego koderzy.com</p>
      </div>
    </div>
    <div class="founder">
      <div class="founder__photo">
        <img class="founder__photo__img" src="img/damian-wielocha.jpg" alt="Damian Wielocha">
      </div>
      <div class="founder__introduction">
        <p class="founder__title">Mentor</p>
        <p class="founder__description"><span class="founder__accent">Damian Wielocha</span> - Specjalista od technologii webowych, programowania w JavaScript, tworzenia aplikacji internetowych, zarządzania bazami danych oraz łączenia tego wszystkiego w spójną całość (HTML/CSS/PHP/JS/MYSQL/Linux)</p>
      </div>
    </div>
    <div class="founder">
      <div class="founder__photo">
        <img class="founder__photo__img" src="img/anonim.jpg" alt="Arkadiusz">
      </div>
      <div class="founder__introduction">
        <p class="founder__title">Mentor</p>
        <p class="founder__description"><span class="founder__accent">Arkadiusz</span> - Wieloletni szkoleniowiec jednej z największych szkół kodowania. Specjalista od Javy i projektant kursów programowania</p>
      </div>
    </div>
  </div>
</section>