<section id="home" class="section section--home">
  <div class="section__inner">
    <img class="logo" src="img/koderzy-logo-male.png" alt="Koderzy.com">
    <h1 class="lead lead--accent">Naucz się z nami programować</h1>
    <p class="lead lead--big">Jak w ciągu paru miesięcy wejść<br>do branży IT</p>
    <div class="cta">
      <div class="cta__information">
        <p class="cta__description">Zapisz&nbsp;się do&nbsp;specjalnego opracowanego kursu programowania opartego o&nbsp;powszechnie dostępne źródła.</p>
        <ul class="cta__list">
          <li>Ucz się we własnym domu</li>
          <li>Ucz się swoim tempem</li>
          <li>Ucz się w porach kiedy masz czas</li>
          <li>Pozwól nam wybrać optymalny program</li>
          <li>W ciągu 500 godzin zostań JUNIOREM<br><span class="footnote">(jeśli będziesz uczciwie i regularnie pracował)</span></li>
        </ul>
      </div>
      <div class="cta__enroll">
        <div class="cta__form">
          <div class="cta__form__header">
            <p class="cta__form__header__lead">Dołącz do koderzy.com</p>
            <p class="cta__form__header__start">Startujemy w marcu 2018<br>
              <span class="footnote">(nic nie płacisz)</span></p>
          </div>
          <div class="cta__form__content">
            <form id="enroll">
              <div id="enroll-response" class="cta__response"></div>
              <input type="name" name="name" id="enroll-name" class="cta__input input--text" placeholder="Imię" pattern="[a-zA-Z0-9 -]+" required="required">
              <input type="email" name="email" id="enroll-email" class="cta__input input--text" placeholder="Email" required="required">
              <button id="enroll-submit" class="button button--big button--accent">Zapisuję się</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>