<section id="home" class="section section--home">
  <div class="section__inner">
    <aside class="section__aside">
      <h3>Aside here!</h3>
    </aside>
    <main class="section__content">
      <h1>Hello World</h1>
      <p>This is the main content on the site.</p>
    </main>
  </div>
</section>