<section id="requirements" class="section section--requirements">
  <div class="section__inner">
    <p class="requirements__heading">Czego potrzebujesz,<br>by przystąpić do naszego kursu?</p>
    <ol class="requirements__list">
      <li>Wypełnienie formularza zgłoszeniowego na górze tej strony</li>
      <li>Znajomość języka angielskiego na poziomie średniozaawansowanym</li>
      <li>Opcjonalnie wypełnienie trzech darmowych testów, sprawdzających twoje kompetencje, które ci wyślemy</li>
    </ol>
    <p class="requirements__heading">Na jakie koszty<br>musisz się przygotować (uczciwie)?</p>
    <ul class="requirements__list">
      <li><strong>W wersji standard</strong> - ZERO (żadnych ukrytych opłat)</li>
      <li><strong>W wersji optimum</strong> - 2-3 tys. zł (w ciągu całego cyklu)</li>
      <li><strong>W wersji maximum</strong> - tyle ile będziesz zdolny się nauczyć</li>
    </ul>
    <p class="requirements__heading">Ile czasu musisz sobie zarezerwować?</p>
    <p class="requirements__description"><b>Musisz w ciągu tygodnia</b> przeznaczyć na naukę przynajmniej 15 godzin. Wtedy osiągniesz cel w pół roku. Potraktuj to jak wyzwanie.</p>
  </div>
</section>