<section id="understand" class="section section--understand">
  <div class="section__inner">
    <img src="img/understand.png" class="understand__icon" alt="Haczyk">
    <p class="understand__lead understand__lead--big">Gdzie jest haczyk, czyli na czym zarabiamy?</p>
    <p class="understand__lead">W trakcie przechodzenia kolejnych modułów, będziesz mógł wykupić płatne konsultacje jeśli będziesz tego potrzebował. Co jakiś czas zaoferujemy też dodatkowe materiały uzupełniające twoje wykształcenie. Niech to będzie nasz zysk.</p>
    <p class="understand__lead">Aha, od razu uprzedzamy, że część zaawansowanej edukacji oferują tylko płatne serwisy. Postaramy się prowadzić cię jednak po tych najtańszych i najefektywniejszych.</p>
  </div>
</section>