<!DOCTYPE html>
<html lang="{{lang}}">
  <head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta property="og:locale" content="pl_PL">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Na jakie koszty musisz się przygotować uczciwie">
    <meta property="og:description" content="Copyright 2018 © Education for Freedom">
    <meta property="og:site_name" content="Na jakie koszty musisz się przygotować uczciwie?">
    <meta property="og:url" content="http://koderzy.pagedemo.co">
    <meta property="og:image" content="http://c.fastcdn.co/u/6025a85e/3756482-0-understand.png">
    <meta property="og:image:secure_url" content="https://c.fastcdn.co/u/6025a85e/3756482-0-understand.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet"> 
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    {{> partials/home }}
    {{> partials/understand }}
    {{> partials/requirements }}
    {{> partials/founders }}

    <script src="bundle.js"></script>
  </body>
</html>